<% layout("/layouts/boilerplate") %>


    <!-- ===== Filter Form ===== -->
    <form method="GET" action="/listings" id="filterForm">
        <input type="hidden" name="category" id="categoryInput" value="">

        <div id="filters">
            <!-- Scrollable Filters (Desktop/Tablet) -->
            <div class="filters-wrapper" id="filtersWrapper">
                <div class="filter active" onclick="submitFilter('')">
                    <div><i class="fa-solid fa-list"></i></div>
                    <p>All</p>
                </div>
                <div class="filter" onclick="submitFilter('trending')">
                    <div><i class="fa-solid fa-fire"></i></div>
                    <p>Trending</p>
                </div>
                <div class="filter" onclick="submitFilter('rooms')">
                    <div><i class="fa-solid fa-bed"></i></div>
                    <p>Rooms</p>
                </div>
                <div class="filter" onclick="submitFilter('iconic cities')">
                    <div><i class="fa-solid fa-mountain-city"></i></div>
                    <p>Iconic Cities</p>
                </div>
                <div class="filter" onclick="submitFilter('mountains')">
                    <div><i class="fa-solid fa-mountain"></i></div>
                    <p>Mountains</p>
                </div>
                <div class="filter" onclick="submitFilter('castles')">
                    <div><i class="fa-brands fa-fort-awesome"></i></div>
                    <p>Castles</p>
                </div>
                <div class="filter" onclick="submitFilter('amazing pools')">
                    <div><i class="fa-solid fa-person-swimming"></i></div>
                    <p>Amazing Pools</p>
                </div>
                <div class="filter" onclick="submitFilter('camping')">
                    <div><i class="fa-solid fa-campground"></i></div>
                    <p>Camping</p>
                </div>
                <div class="filter" onclick="submitFilter('farms')">
                    <div><i class="fa-solid fa-cow"></i></div>
                    <p>Farms</p>
                </div>
                <div class="filter" onclick="submitFilter('arctic')">
                    <div><i class="fa-regular fa-snowflake"></i></div>
                    <p>Arctic</p>
                </div>
            </div>

            <!-- Scroll Arrows -->
            <button type="button" class="scroll-arrow left" onclick="scrollFilters('left')">
                <i class="fa-solid fa-chevron-left"></i>
            </button>
            <button type="button" class="scroll-arrow right" onclick="scrollFilters('right')">
                <i class="fa-solid fa-chevron-right"></i>
            </button>

            <!-- Mobile Filter Button -->
            <button type="button" class="mobile-filter-btn" id="mobileFilterBtn">
                <i class="fa-solid fa-sliders"></i>
                Filters
            </button>

            <!-- Tax Toggle Switch -->
            <div class="text-toggle">
                <div class="form-check-reverse form-switch">
                    <input class="form-check-input" type="checkbox" role="switch" id="switchCheckDefault">
                    <label class="form-check-label" for="switchCheckDefault">Display total after taxes</label>
                </div>
            </div>
        </div>
    </form>

    <!-- ===== Mobile Filter Drawer ===== -->
    <div class="filter-drawer-overlay" id="filterDrawerOverlay"></div>
    <div class="filter-drawer" id="filterDrawer">
        <div class="filter-drawer-header">
            <h5>Categories</h5>
            <button class="filter-drawer-close" id="filterDrawerClose">
                <i class="fa-solid fa-xmark"></i>
            </button>
        </div>
        <div class="filter-drawer-grid">
            <div class="filter" onclick="submitFilterFromDrawer('')">
                <div><i class="fa-solid fa-list"></i></div>
                <p>All</p>
            </div>
            <div class="filter" onclick="submitFilterFromDrawer('trending')">
                <div><i class="fa-solid fa-fire"></i></div>
                <p>Trending</p>
            </div>
            <div class="filter" onclick="submitFilterFromDrawer('rooms')">
                <div><i class="fa-solid fa-bed"></i></div>
                <p>Rooms</p>
            </div>
            <div class="filter" onclick="submitFilterFromDrawer('iconic cities')">
                <div><i class="fa-solid fa-mountain-city"></i></div>
                <p>Iconic Cities</p>
            </div>
            <div class="filter" onclick="submitFilterFromDrawer('mountains')">
                <div><i class="fa-solid fa-mountain"></i></div>
                <p>Mountains</p>
            </div>
            <div class="filter" onclick="submitFilterFromDrawer('castles')">
                <div><i class="fa-brands fa-fort-awesome"></i></div>
                <p>Castles</p>
            </div>
            <div class="filter" onclick="submitFilterFromDrawer('amazing pools')">
                <div><i class="fa-solid fa-person-swimming"></i></div>
                <p>Amazing Pools</p>
            </div>
            <div class="filter" onclick="submitFilterFromDrawer('camping')">
                <div><i class="fa-solid fa-campground"></i></div>
                <p>Camping</p>
            </div>
            <div class="filter" onclick="submitFilterFromDrawer('farms')">
                <div><i class="fa-solid fa-cow"></i></div>
                <p>Farms</p>
            </div>
            <div class="filter" onclick="submitFilterFromDrawer('arctic')">
                <div><i class="fa-regular fa-snowflake"></i></div>
                <p>Arctic</p>
            </div>
        </div>
        <div class="filter-drawer-toggle">
            <div class="text-toggle">
                <div class="form-check-reverse form-switch">
                    <input class="form-check-input" type="checkbox" role="switch" id="switchCheckDefaultDrawer">
                    <label class="form-check-label" for="switchCheckDefaultDrawer">Display total after taxes</label>
                </div>
            </div>
        </div>
    </div>
    <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 mt-3">
        <% for(let listing of allListings){ %>
            <a href="/listings/<%= listing._id %>" class="listing-link">
                <div class="card col listing-card">
                    <img src="<%= listing?.image?.url %>" class="card-img-top" alt="listing_image"
                        style="height: 20rem;">
                    <div class="card-img-overlay"></div>
                    <div class="card-body">
                        <p class="card-text">
                            <b>
                                <%= listing?.title %>
                            </b> <br>
                            &#8377; <%= listing?.price?.toLocaleString("en-PK") %> / night
                                <i class="tax-info"> &nbsp; +18% GST</i>
                        </p>
                    </div>
                </div>
            </a>
            <% } %>
    </div>
    <script src="/js/listing-index.js"></script>