<% layout("/layouts/boilerplate") %>
<div class="row mt-3">
    <h1 class="col-6 offset-3">SignUp on Wanderlust</h1>
  <div class="col-6 offset-3">
    <form action="/signup" method="post" novalidate class="needs-validation">
      <div class="mb-3">
        <label for="username" class="form-label">Username</label>
        <input
          type="text"
          name="username"
          id="username"
          class="form-control"
          required
        />
        <div class="valid-feedback">looks good!</div>
        <div class="invalid-feedback">username is required</div>
      </div>
      <div class="mb-3">
        <label for="email" class="form-label">email</label>
        <input
          type="text"
          name="email"
          id="email"
          class="form-control"
          required
        />
        <div class="invalid-feedback">email is required</div>
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input
          type="password"
          name="password"
          id="password"
          class="form-control"
          minlength="8"
          required
        />
        <div class="invalid-feedback">password is required and must have 8 char</div>
      </div>
      <button class="btn btn-success">SignUp</button>
    </form>
  </div>
</div>
